{% extends "base2.html" %}
{% load static %}

{% block bloque1 %}
<br>
<h3 style="color: rgb(246, 244, 255);text-align: center;">Formulario de alta de Géneros</h3>
<p style="color: red;text-align: center;font-size: smaller;">{{error}}</p>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">
      
    </div>
    <div class="col">
      <form action="alta_genero" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Género:</span>
          <input type="text" class="form-control" placeholder="inserte un nuevo genero" aria-describedby="inputGroup-sizing-default" name="genero">
        </div>        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-2">
      
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col">
      <ul class="list-group" style="text-align: center;">
        <li class="list-group-item" style="background-color: rgb(202, 202, 202);" aria-current="true">Géneros disponibles</li>
        {% for n in generos %}
        <li class="list-group-item">{{n.genero}}</li>
        {% endfor %}  
      </ul>
    </div>
    <div class="col-2">
      
    </div>
  </div>

</div>


<br>

{% endblock %}