{% extends "base.html" %}
{% load static %}

{% block bloque1 %}
<br>
<div class="container">
  <div class="row">
    <div class="col-2">
      
    </div>
    <div class="col">
      <form action="alta_pelicula" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Titulo:</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="titulo">
        </div>
        
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Genero:</label>
          <select class="form-select" id="inputGroupSelect01", name="genero">
            <option selected>Elija una opcion</option>
            {% for genre in generos %}
            <option value={{genre.genero}}>{{genre.genero}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Año:</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="anio">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Resumen:</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="resumen">
        </div>  
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-2">
      
    </div>
  </div>
</div>

<br>

{% endblock %}