{% extends 'base.html' %}
{% load static %}

{% block bloque1 %}
<br>
<form action="buscar_peli">
<div class="container" style="margin-right: 5px ;padding: 0px; border: 0px">
  <div class="row">
    <div class="col">      
    </div>
    <div class="col">      
    </div>    
    <div class="col">
      <i style="color: red; text-align: right;font-size:medium">{{respuesta}}</i>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="buscar" name="titulo">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" ><i class="bi bi-search color-cyan"></button>
      </div>
      
      
    </div>  
  </div>  
</div>
</form>

<br>    

<h4 style="color: rgb(176, 198, 252); text-align: center;">Peliculas</h4>

<div class="container">
    <div class="row">
    {% for n in peliculas %}  
      <div class="col">
        <div class="card border-dark" style="min-width: 18rem; max-width: 18rem;padding-bottom: 10px;">
            <div class="card-header" style="background-color: rgba(14,46,30,0.4);"><h5>{{n.titulo}}</h5></div>
            <div class="card-body text-dark">
            <h6 class="card-title">{{n.anio}} / {{n.genero}}</h6>
            <p class="card-text">{{n.resumen}}</p>
            </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
</div>
<br>
     
    
    
{% endblock %}